@{
    ViewBag.Title = "在线小工具";
}

<h2 class="page-header">在线小工具</h2>
<ul>
    <li>
        <h3>@Html.ActionLink("二维码生成/读取", "QRcode", "Tools")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("JSON格式化", "FormatJSON", "Tools")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Url编码/解码", "EncodeUrl", "Tools")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Unicode编码/解码", "EncodeUnicode", "Tools")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Html编码/解码", "EncodeHtml", "Tools")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("小网格云存储", "XWGCloud", "Tools")</h3>
    </li>
</ul>